.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1 1 auto;
}

.btn {
	z-index: 2;
	position: relative;
	cursor: pointer;
	@include button-styles;
	display: block;
}
