@use "sass:math"; // Подключаем модуль math для использования math.div()

@function px-to-rem($px) {
  @return math.div($px, $base-size) * 1rem; // корректное использование math.div
}

@function px-to-vw($px, $base-width: 1440) {
  @return (math.div($px, $base-width)) * 75vw;
}
