.about {
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        z-index: 2;
        @media (max-width: 1200px) {
            gap: 20px;
            flex-direction: column;
        }
    }
    h2 {
        @include section-title;
        margin-bottom: 70px;
    }
    &__video {
        position: relative;
        border: 1px solid #fff;
        border-radius: 20px;
        max-width: 590px;
        width: 100%;
        overflow: hidden;
        @media (max-width: 768px) {
            width: 100%;
            height: 258px;
        }
        video {
            width: 100%;
            height: 100%;
        }

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 105px;
            @media (max-width: 768px) {
                width: 68px;
                height: 48px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .icon-start {
            display: block;
        }
        .icon-stop {
            display: none;
        }
    }

    &__info {
        border-radius: 20px;
        width: 100%;
        max-width: 590px;
        background: #8b1015;
        overflow: hidden;
        padding-top: 50px;
        padding-left: 72px;
        padding-bottom: 40px;
        padding-right: 70px;
        h3 {
            color: #fff;
            font-weight: 600;
            font-size: 24px;
        }

        &-head {
            padding-bottom: 21.5px;
            border-bottom: 1px solid $white;
        }
        ul {
            padding-top: 28.5px;
            display: flex;
            flex-direction: column;
            gap: 28.5px;
            li {
                line-height: 125%;
                position: relative;
                a {
                    display: block;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        font-weight: 600;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: -20px;
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-color: $white;
                    border-radius: 100%;
                }
            }
        }

        .mt {
            margin-top: 20px;
        }

        .smi {
            gap: 10px;
        }
        @media (max-width: 768px) {
            width: 100% !important;
            height: auto;
            padding: 20px 15px;
            h3 {
                font-size: 14px;
            }
            &-head {
                padding-bottom: 10px;
                border-bottom: 4px solid $white;
            }
            ul {
                padding-top: 14px;
                li {
                    font-size: 14px;
                    padding-left: 14px;
                    a {
                        font-size: 14px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        display: block;
                        background-color: $white;
                        border-radius: 100%;
                    }
                }
            }
            .mt {
                margin-top: 20px;
            }
        }
    }
}
#playPauseButton.hidden {
    display: none; /* Скрываем кнопку при воспроизведении */
}
