.header {
    &__container {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        @media (max-width: 768px) {
            padding: 10px 0;
            justify-content: flex-end;
        }
    }
}