.home {
    padding-top: 44px;
    padding-bottom: 50px;
    &__head {
        .home__advantages {
            display: none;
        }
    }
    &__utp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        margin-bottom: 80px;
        span {
            width: 100%;
            display: block;
            background-color: $white;
            height: 1px;
        }
        &-item {
            font-family: $font-family;
            border: 1px solid $white;
            border-radius: 20px;
            font-size: 16px;
            text-transform: lowercase;
            padding: 8px 20px;
            @media (max-width: 992px) {
                padding: 8px 10px;
                border-radius: 20px;
                font-size: 12px;
            }
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__left {
        width: 48vw;
        max-width: 578px;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 48vw;
        max-height: 578px;
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 40%;
            width: 70%;
            top: 0;
            left: 0;
            background: #d4010a;
            filter: blur(250px);
        }
        img {
            position: absolute;
            z-index: 3;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        // &::before {
        //     content: "";
        //     position: absolute;
        //     z-index: 4;
        //     display: block;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 82px;
        //     background: #100;
        //     filter: blur(20px);
        // }
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 556px;
        padding-bottom: 50px;
        h1 {
            span {
                @include label-title;
                display: block;
            }
            b {
                font-family: $second-family;
                font-size: 80px;
                font-weight: $base-weight;
            }
            @media (max-width: 992px) {
                span {
                    font-size: 20px;
                }
                b {
                    font-size: 40px;
                }
            }
        }

        p {
            font-size: 16px;
            @media (max-width: 992px) {
                max-width: 468px;
            }
        }

        &-arround {
            margin-top: 68px;
            position: relative;
            width: 316px;
            height: 129px;
            border-radius: 100%;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                top: -40%;
                left: -50%;
                transform: translateX(37%);
                background: #d4010a;
                filter: blur(100px);
            }
        }
    }

    &__box {
        p {
            margin-bottom: 20px;
        }
        .home__left {
            display: none;
        }
        @media (max-width: 992px) {
            .home__left {
                display: block;
                position: relative;
            }
        }
    }

    &__advantages {
        display: flex;
        gap: 48px;
        @media (max-width: 992px) {
            gap: 10px;
        }

        &-item {
            max-width: 118px;
            @media (max-width: 992px) {
                max-width: 500px;
                font-size: 24px;
                text-align: center;
            }
            h2 {
                font-weight: 600;
                font-size: 36px;
                margin-bottom: 4px;
                @media (max-width: 992px) {
                    font-size: 24px;
                }
            }
            p {
                font-size: 16px;
                @media (max-width: 992px) {
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .home {
        padding-bottom: 0;
        &__utp {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 79px;
        }
        &__container {
            width: 100%;
            max-width: 100%;
            overflow: none;
        }
        &__wrap {
            width: 90%;
            min-height: 478px;
            width: 100%;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            background: url("../../img/generalPhotoMobile.png") center center / contain no-repeat;
        }
        &__right {
            width: 100%;

            max-width: none;
            position: relative;
            z-index: 2;
            padding: 0;

            min-height: 478px;

        }
        &__left {
            display: none;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
        &__head {
            display: flex;
            transform: translateY(-40px);
            justify-content: space-between;
            align-items: flex-start;
            .home__advantages {
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 108px;
            }
        }
        &__box {
            margin: 0 auto;
            margin-top: auto;
            backdrop-filter: blur(30px);
            background: rgba(255, 255, 255, 0.02);
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 10px 10px 20px 10px;
            width: 100%;
            .home__advantages {
                display: none;
            }
            p {
                text-align: center;
            }
            button {
                margin: 0 auto;
                margin-top: 20px;
            }
        }

        .home__right-arround {
            margin-top: 0;
            position: static;
            width: auto;
            height: auto;
            border-radius: 100%;

            &::after {
                display: none;
            }
        }
    }
}
@media (max-width: 450px) {
    .home__right h1 b {
        font-size: 30px;
    }
}