.menu {
    position: relative;
    z-index: 5;
    ul {
        display: flex;
        gap: px-to-vw(33);
        li {
            a {
                font-size: px-to-vw(14);
                display: block;
                letter-spacing: -0.01em;
                &:hover {
                    font-weight: 600;
                    transform: scale(1.05);
                }
            }
        }
    }
}