.project {
    position: relative;
    padding: px-to-vw(60) 0;
    z-index: 2;
    
    h2 {
        text-align: center;
        @include section-title;
    }
    &__wrap {
        margin-top: px-to-vw(80);
        display: flex;
        align-items: center;
        gap: px-to-vw(60);
    }
    &__slider {
        width: 100%;
    }
    &__slide {
        background-color: black;
        border-radius: 20px;
        overflow: hidden;
        height: px-to-vw(510);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        margin: 0 auto;
        margin-top: px-to-vw(70);
        display: block;
    }
}